@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4"><b>Coding with c#</b></h1>
    <ol>
<li>Be persistent

</li>
<li>Stick to a routine</li>
<li>Focus on the fundamentals</li>
<li>Build hands on projects, no matter what level of experience you have</li>
<li>And dont be a afraid to ask for help</li>


    </ol>

   
</div>
